<!doctype html>
<html>
<head>
	<title>Rock - Paper - Scissors</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="main.css" rel="stylesheet"></head>
<body ng-app="app" ng-controller="ctrl">

  <span ng-show="showVideo">
    <iframe width="420" height="315" src="https://www.youtube.com/embed/TU8VDewlI50" frameborder="0" allowfullscreen></iframe>
  </span>

  <div class="menu">
    <button ng-click="showVideo = !showVideo">toggle video</button>
    <button ng-click="newGame()" ng-disabled="state === states.newgame">new game</button>
    <p ng-show="bothHumans">
      Human vs Human is not supported <!-- THINK: could add keyboard handlers on a computer but would fail on mobile -->
    </p> 
    <p ng-show="bothComputers">
      Computer vs Computer
      <button ng-click="randomiseWeapons();" ng-disabled="state !== states.newgame">Start the fight</button>
    </p> 
  </div>

  <div class="cf"></div>


  <div class="player one" ng-class="player1">
    <h3>Player 1</h3>
    <label><input type="radio" name="player1" ng-model="player1" value="human">Human</label>
    <label><input type="radio" name="player1" ng-model="player1" value="computer">Computer</label>

    <div class="cf"></div>

    <div class="weapon" ng-repeat="weapon in weapons">
      <h4>{{ weapon.name }}</h4>
      <a href ng-click="chooseWeapon('player1', weapon)" ng-class="{selected: player1weapon === weapon}">
        <img alt="{{ weapon.name }}" ng-src="{{weapon.img}}">
      </a>
    </div>

    <div class="cf"></div>
  </div>

  <div class="player two" ng-class="player2">
    <h3>Player 2</h3>
    <label><input type="radio" name="player2" ng-model="player2" value="human">Human</label>
    <label><input type="radio" name="player2" ng-model="player2" value="computer">Computer</label>

    <div class="cf"></div>

    <div class="weapon" ng-repeat="weapon in weapons">
      <h4>{{ weapon.name }}</h4>
      <a href ng-click="chooseWeapon('player2', weapon)" ng-class="{selected: player2weapon === weapon}">
        <img alt="{{ weapon.name }}" ng-src="{{weapon.img}}">
      </a>
    </div>

    <div class="cf"></div>
  </div>


  <div class="cf"></div>


  <div class="result">
    <h3>Result</h3>
    
    <p>
      <span ng-show="state === states.newgame">Make your choice to start the game</span>
      <span ng-show="state === states.player1won">Player 1 won</span>
      <span ng-show="state === states.player2won">Player 2 won</span>
      <span ng-show="state === states.draw">It's a draw</span>
    </p>
  </div>


<script type="text/javascript" src="main.js"></script></body>
</html>
