// UTILITIES

// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// http://nicolasgallagher.com/micro-clearfix-hack/
.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

// Mantaining fine balance between GTD (getting things done) and code quality
// Ideally I'd like to put 'utilities' into a separate file but I'm not a webpack expert
// Easier to keep everything in a single file (so I'm sure it gets bundled properly)

body {

  font-family: monospace;

  .menu {
    height: 50px; // as we display different modes (P vs P, C vs C) text changes, keeping height consistent
  }

  .player {

    &.computer {
      a {
        cursor: not-allowed;
        pointer-events: none; 
      }
    }

    @media (min-width: 600px) {
      width: 50%;
      float: left;

      &.one{
        padding-right: 10px;
      }
      &.two {
        padding-left: 10px;
      }
    }
  }

  // THINK: best strategy for nesting selectors (so the output file is not too large due to repeated selectors) --- I think it is OK, the .player sections deals with layout and computer while .weapon section handles displaying the wepon
  .weapon {
    width: 33.3%;
    float: left;

    a {
      display: block; // required so the adding border displays the thing properly

      &.selected {
        border: 3px solid black;
      }
    }

    img {
      max-width: 100%;
    }
  }
}