<!doctype html>
<html>
<head>
	<title>Rock - Paper - Scissors</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-app="app" ng-controller="ctrl">

  {{ message }}

  <!-- 
    pressing new game resets the state
    and restores "smart defaults" - player against computer
    the moment we select an option the game starts
    case with 2 players - there will be keyboard handlers
  -->
  <button id="new-game">new game</button>

  <h3>player 1</h3>
  <label><input type="radio" name="player1" value="human" checked>Human</label>
  <label><input type="radio" name="player1" value="computer">Computer</label>

  <div class="cf">

  <!-- 
    that is a good candidate to create HTML based on data that is available 
  -->
  <label><input type="radio" name="player1-choice" value="rock">Rock</label>
  <label><input type="radio" name="player1-choice" value="paper">Paper</label>
  <label><input type="radio" name="player1-choice" value="scissors">Scissors</label>


  <h3>player 2</h3>
  <label><input type="radio" name="player2" value="human">Human</label>
  <label><input type="radio" name="player2" value="computer" checked>Computer</label>

  <div class="cf">

  <label><input type="radio" name="player2-choice" value="rock">Rock</label>
  <label><input type="radio" name="player2-choice" value="paper">Paper</label>
  <label><input type="radio" name="player2-choice" value="scissors">Scissors</label>

  <div class="cf">

  <div class="result">
    <div class="player1">Player 1 won</div>
    <div class="player2">Player 2 won</div>
    <div class="draw">It's a draw</div>
  </div>


</body>
</html>
