<!doctype html>
<html>
<head>
	<title>Rock - Paper - Scissors</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	

  <h3>player 1</h3>
  <label>
    <input type="radio" name="player1" value="male">Human
  </label>
  <label>
    <input type="radio" name="player1" value="female">Computer
  </label>

  <h3>player 2</h3>
  <label>
    <input type="radio" name="player2" value="male">Human
  </label>
  <label>
    <input type="radio" name="player2" value="female">Computer
  </label>

</body>
</html>
