<!doctype html>
<html>
<head>
	<title>Rock - Paper - Scissors</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-app="app" ng-controller="ctrl">


  <!-- 
    pressing new game resets the state
    and restores "smart defaults" - player against computer
    the moment we select an option the game starts
    case with 2 players - there will be keyboard handlers
  -->
  <button ng-click="newGame()">new game</button>

  <h3>player 1</h3>
  <label><input type="radio" name="player1" value="human" checked>Human</label>
  <label><input type="radio" name="player1" value="computer">Computer</label>

  <div class="cf"></div>

  <div class="game-choice" ng-repeat="gameChoice in gameChoices">
    <h4>{{ gameChoice.name }}</h4>
    <a href ng-click="select('player1', gameChoice)">
      <img ng-src="{{gameChoice.img}}">
    </a>
  </div>


  <h3>player 2</h3>
  <label><input type="radio" name="player2" value="human">Human</label>
  <label><input type="radio" name="player2" value="computer" checked>Computer</label>

  <div class="cf"></div>

  <div class="game-choice" ng-repeat="gameChoice in gameChoices">
    <h4>{{ gameChoice.name }}</h4>
    <a href ng-click="select('player2', gameChoice)">
      <img ng-src="{{gameChoice.img}}">
    </a>
  </div>

  <div class="cf">


  <div class="result">
    <h3>Result</h3>
    <p>Make your choice to start the game</p>
<!--     <div class="player1">Player 1 won</div>
    <div class="player2">Player 2 won</div>
    <div class="draw">It's a draw</div> -->
  </div>


</body>
</html>
